.projects-section {
  height: calc(100vh - 61px);
}

.projects-section .projects-card-grid-container .project-cards {
  background-color: var(--card);
  border: 1px solid var(--card-secondary);
  border-radius: 0.5rem;
}

.projects-section .projects-card-grid-container .project-cards .btn-gitlab,
.projects-section .projects-card-grid-container .project-cards .btn-example {
  background-color: var(--btn-hvr);
  color: var(--fg);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 1px solid var(--btn);
}

.projects-section
  .projects-card-grid-container
  .project-cards
  .btn-gitlab:hover,
.projects-section
  .projects-card-grid-container
  .project-cards
  .btn-example:hover {
  background-color: var(--card-secondary);
}
