.cust-modal {
  height: 90vh;
  padding: 0 20em;
}

.modal-bg {
  background-color: var(--modal-bg);
  backdrop-filter: blur(1px);
}

.main-modal {
  background-color: var(--card);
  border: 1px solid var(--card-secondary);
  border-radius: 6px;
}

@media (max-width: 1920px) {
  .cust-modal {
    padding: 0 15em;
  }
}

@media (max-width: 1370px) {
  .cust-modal {
    padding: 0 10em;
  }
}

@media (max-width: 1024px) {
  .cust-modal {
    padding: 0 2em;
  }
}

@media (max-width: 767px) {
  .cust-modal {
    padding: 0 1em;
  }
}
