@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://api.fontshare.com/v2/css?f[]=poppins@500,400,100,300,800,700,200,600&display=swap");

/* Dark color schemes */
:root[data-theme="gruv-dark"] {
  --fg: #ebdbb2;
  --fg-secondary: #d5c4a1;
  --bg: #1B1B1B;
  --bg-secondary: #333333;
  --btn: #3c3836;
  --btn-hvr: #494442;
  --hlit: #d8c7a4;
  --link: #d2691e;
  --link-hvr: #a0522d;
  --card: #3c3836;
  --card-secondary: #504945;
  --modal-bg: rgba(27, 25, 23, 0.25);
  --header: #ebdbb2;
  --scroll-thumb: #9b9076;
  --scroll-thumb-hvr: #c4b594;
  --crsr-clr: 235, 219, 178;
  --filter: sepia(30%) hue-rotate(5deg);
}

:root[data-theme="dark-void"] {
  --fg: #ffffff;
  --fg-secondary: #dddddd;
  --bg: #000000;
  --bg-secondary: #222222;
  --btn: #323232;
  --btn-hvr: #383838;
  --hlit: #dfdfdf;
  --link: #abb2bf;
  --link-hvr: #8f96a1;
  --card: #282828;
  --card-secondary: #303030;
  --modal-bg: rgba(0, 0, 0, 0.25);
  --header: #abb2bf;
  --scroll-thumb: #363636;
  --scroll-thumb-hvr: #424242;
  --crsr-clr: 255, 255, 255;
}

/* Light color schemes */
:root[data-theme="gruv-light"] {
  --fg: #3c3836;
  --fg-secondary: #504945;
  --bg: #f3e4bd;
  --bg-secondary: #ebdbb2;
  --btn: #c4b594;
  --btn-hvr: #bdb08f;
  --hlit: #756c5b;
  --link: #d2691e;
  --link-hvr: #a0522d;
  --card: #dbcca4;
  --card-secondary: #bdb08f;
  --modal-bg: rgba(27, 25, 23, 0.25);
  --header: #3c3836;
  --scroll-thumb: #9b9076;
  --scroll-thumb-hvr: #c4b594;
  --crsr-clr: 60, 56, 54;
  --filter: sepia(30%) hue-rotate(5deg);
}

:root[data-theme="light-void"] {
  --fg: #000000;
  --fg-secondary: #222222;
  --bg: #ffffff;
  --bg-secondary: #dddddd;
  --btn: #c2c2c2;
  --btn-hvr: #dfdfdf;
  --hlit: #323232;
  --link: #6a6f77;
  --link-hvr: #62676e;
  --card: #dfdfdf;
  --card-secondary: #c2c2c2;
  --modal-bg: rgba(0, 0, 0, 0.25);
  --header: #abb2bf;
  --scroll-thumb: #6a6f77;
  --scroll-thumb-hvr: #62676e;
  --crsr-clr: 0, 0, 0;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  width: 0.5em;
  background-color: var(--scroll-thumb);
  border-radius: 0.25em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hvr);
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--fg);
  background: var(--bg);
}
