@import "https://api.fontshare.com/v2/css?f[]=outfit@500&display=swap";

#tt-home,
#tt-about,
#tt-projects,
#tt-blogs,
#tt-notes,
#tt-contact {
  padding: 0.5em 1em;
  border-radius: 8px;
  font-size: 80%;
  width: max-content;
}

nav {
  border-bottom: 1px solid var(--card-secondary);
}

.nav-links .nav-link {
  color: var(--fg-secondary);
  transition: color 0.3s ease;
}

.nav-links .nav-link:hover {
  color: var(--fg);
}

.nav-links span {
  font-weight: bold;
}

.icon {
  display: inline-block;
}

.bonito-logo {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

.bonito-logo .text-logo {
  display: block;
}

.bonito-logo .text-logo-smol {
  display: none;
}

@media (max-width: 767px) {
  .bonito-logo .text-logo {
    display: none;
  }
  .bonito-logo .text-logo-smol {
    display: inline;
  }
}
