.notes-container {
  height: calc(100vh - 61px);
  overflow-y: auto;
}

.notes-card-container {
  background-color: var(--card);
  border: 1px solid var(--card-secondary);
  border-radius: 0.5rem;
}

.notes-card-button {
  background-color: var(--btn-hvr);
  color: var(--fg);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 1px solid var(--btn);
}

.notes-card-button:hover {
  background-color: var(--card-secondary);
}

/* Definitions for markdown elements   */
.notes-modal-data-container {
  word-break: break-word;
  overflow-wrap: break-word;
}

.notes-modal-data h1 {
  font-size: 2rem;
  font-weight: bold;
}

.notes-modal-data h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.notes-modal-data h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.notes-modal-data h4 {
  font-size: 1rem;
  font-weight: bold;
}

.notes-modal-data h5 {
  font-size: 0.875rem;
  font-weight: bold;
}

.notes-modal-data h6 {
  font-size: 0.75rem;
  font-weight: bold;
}

.notes-modal-data h1,
.notes-modal-data h2,
.notes-modal-data h3,
.notes-modal-data h4,
.notes-modal-data h5,
.notes-modal-data h6 {
  padding: 0.25em 0;
}

.notes-modal-data p {
  padding: 0.25em 0;
}

.notes-modal-data a {
  color: var(--link);
  transition: 0.3s ease;
}

.notes-modal-data a:hover {
  color: var(--link-hvr);
}

.notes-modal-data pre {
  padding: 1em;
  background-color: var(--card-secondary);
  border: 1px solid var(--card-secondary);
  border-radius: 0.5rem;
  overflow: auto;
}

.notes-modal-data img {
  border-radius: 0.25em;
}
