.under-construction {
  background-color: var(--bg);
  color: var(--fg);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.under-construction-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.under-construction-text {
  font-size: 1.5rem;
}
