.about-section {
  height: calc(100vh - 61px);
}

.about-section p {
  font-size: 18px;
}

.highlight {
  font-weight: 600;
  color: var(--hlit);
}

.about-bullets span {
  background-color: var(--card);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  border: 1px solid var(--card-secondary);
}

.about-bullets span:hover {
  background-color: var(--card-secondary);
}

.stuff {
  background-color: var(--card);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  border: 1px solid var(--card-secondary);
}

.pfp {
  filter: var(--filter);
}

@keyframes float-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1536px) {
  .inner-txt-container {
    padding: 0 12em;
  }
}

@media (max-width: 1376px) {
  .inner-txt-container {
    padding: 0 2em;
  }
}

@media (max-width: 820px) {
  .inner-txt-container {
    padding: 0 1em;
  }
}

@media (max-width: 767px) {
  .inner-txt-container {
    padding: 0 1em;
  }

  .about-bullets span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
